@import '@/mixins.scss';

.plans {
  margin: auto;
}

.gradient-text {
  font-weight: 800;
  background: linear-gradient(45deg, rgb(255, 109, 109), rgb(74, 74, 255) 15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
