@import '@/mixins.scss';

.not-activated-card {
  margin: auto;
  // max-width: 660px;
  background-color: rgba(255, 255, 255, 0.441);
  box-shadow: 0 0 10px 0 rgba(164, 164, 164, 0.5);
  border-radius: 10px;
  position: fixed;
  padding: 30px;
  width: 700px;
  height: 700px;
  top: 50%;
  left: 50%;
  margin-top: -350px; /* Negative half of height. */
  margin-left: -350px;
}

.not-activated-card h1 {
  color: rgb(1, 1, 116);
  font-size: 28px;
  font-weight: 600;
}
