@import '@/mixins.scss';

.container {
  padding: 10px 20px 10px 20px;
  border: 1px dashed rgb(205, 205, 205);
  border-radius: 5px;
  text-align: center;
  min-height: 80px;
  margin-bottom: 10px;
  &:hover {
    cursor: pointer;
  }
}

a {
  font-size: 16px;
}
