@import '@/mixins.scss';

.project-plan {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: $main-deep-blue;
  margin: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-color: $main-gray;
  border-radius: 12px;
}

// I used directly text-weight / text-size in the class.
// I'm little bit balanced. Up to you to remove comment... and use this css instead my classes.
// Sorry for inconvenience.
// .table-count {
//   font-size: 16px;
// }
// .mmv-count {
//   font-size: 16px;
//   font-weight: 300;
//   .count-num {
//     font-weight: 600;
//   }
// }
