@import '@/mixins.scss';

.logo {
  display: block;
  padding-top: rem(15);
  padding-bottom: rem(15);
  margin-right: rem(30);
  line-height: 1;
  height: rem(64);
  white-space: nowrap;

  &__name {
    font-weight: 900;
    font-size: rem(28);
    margin-left: rem(40);
  }
  &__descr {
    color: $gray-6;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
  }
}
