@import '@/mixins.scss';

.cta-primary {
  /* cta / Primary */

  /* Auto Layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 35px;

  /* main-clear-blue */
  font-weight: 600;
  background: -webkit-linear-gradient(120deg, rgb(113, 130, 255), rgb(19, 2, 255));
  border-radius: 6px;

  /* Inside Auto Layout */

  flex: none;
  flex-grow: 0;
  .label {
    /* Label */

    font-family: Poppins;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 200% */

    letter-spacing: -0.02em;

    color: #ffffff;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
  }

  &:hover {
    /* main-old-blue */

    background: -webkit-linear-gradient(120deg, rgb(151, 164, 255), rgb(19, 2, 255));
    cursor: pointer;
  }

  &:focus {
    /* main-old-blue */

    background: -webkit-linear-gradient(120deg, rgb(151, 164, 255), rgb(19, 2, 255));
    cursor: pointer;
  }
}

.cta-secondary {
  /* cta / Secondary */

  /* Auto Layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 35px;

  /* main-clear-blue */
  font-weight: 500;
  background: #f7f7f7;
  border-radius: 6px;

  /* Inside Auto Layout */

  flex: none;
  flex-grow: 0;

  .label {
    /* Label */

    font-family: Poppins;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 200% */

    color: #000000;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
  }

  &:hover {
    /* main-old-blue */

    background-color: #f2f2f2;
    border-color: rgb(213, 213, 213);
    cursor: pointer;
  }

  &:focus {
    /* main-old-blue */

    background-color: #f6f6f6;
    border-color: rgb(230, 230, 230);
    cursor: pointer;
  }
}
