@import '@/mixins.scss';

.cta-primary {
  /* CTA / Primary */

  /* Auto Layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 35px;

  /* main-clear-blue */

  background: $main-purple;
  border-radius: 6px;

  /* Inside Auto Layout */

  flex: none;
  flex-grow: 0;
}
.label {
  /* Label */

  font-family: Poppins;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 200% */

  letter-spacing: -0.02em;

  color: #ffffff;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.cta-primary:hover {
  /* main-old-blue */

  background: $blue-dark;
  cursor: pointer;
}

.cta-primary:focus {
  /* main-old-blue */

  background: $blue-dark;
  cursor: pointer;
}
