@import '@/mixins.scss';

.cta-primary {
  background-color: $blue;
  border-radius: 10px;
  padding: 2px 101px 2px 102px;
  display: flex;
  align-items: center;
}
.large-button {
  color: $secondary-primary-white;
  text-align: center;
  letter-spacing: -0.36px;
  @include poppins-18-bold-line24;
}
