@import '@/mixins.scss';

.dataset-card {
  border: 1px solid rgb(237, 237, 237);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 7px;
  background: rgb(240, 240, 240);
  a {
    color: #136bf5;
    font-weight: 500;
    font-size: 15px;
  }
}

.activated {
  background: rgb(251, 251, 255);
}

h6 {
  overflow: hidden;
  h6:hover {
    overflow: visible;
  }
}
