@import '@/mixins.scss';

.project-card {
  background-color: $main-gray;
  border-radius: 40px;
  padding: 45px 55px 45px 45px;
  display: flex;
  align-items: center;
}
.project-name-block {
  margin-right: 10px;
  width: 266px;
  height: 82px;
}
.cta-secondary {
  &:not(:last-of-type) {
    margin-right: 10px;
  }
}
// dark theme
[data-vb-theme='dark'] {
  .footer {
    background: $dark-gray-4;
  }
}
