@import '@/mixins.scss';

.project-card {
  /* Project Bar 2 / Menu */

  /* Auto Layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;

  position: relative;
  width: 50rem;
  height: 100px;

  /* main-gray */

  background: #e7efff;
  border-radius: 15px;
}
