@import '@/mixins.scss';

.project-card {
  /* Project Bar 2 / Menu */

  /* Auto Layout */

  align-items: center;
  padding: 0px 16px;

  position: relative;
  width: 100%;
  height: 100px;

  /* main-gray */

  background: #e7efff;
  border-radius: 15px;

}