@import '@/mixins.scss';

.card {
  background-color: $gray-8;
  border-radius: 40px;
  padding: 45px;
  display: flex;
  align-items: flex-start;
}
.cta {
  margin-right: 10px;
  width: 246px;
  height: 46px;
}
.cta-two {
  width: 244px;
  height: 45px;
}
