@import '@/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --vb-color-primary: #4318ff;
}

html {
  font-size: 14px;

  @media (max-width: $sm-max-width) {
    font-size: 13px;
  }

  font-family: 'Poppins',
  sans-serif;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: $base-font;
  color: $text;
  overflow-x: hidden !important;
  position: relative;
  font-variant: normal;
  font-feature-settings: normal;
  font-family: 'Poppins', sans-serif;
  letter-spacing: -0.5px;
}

a {
  text-decoration: none;
  color: $text;
  @include transition-color();

  &:hover,
  &:active,
  &:focus {
    color: $blue;
    text-decoration: none;
  }
}

input {
  outline: none !important;
  font-family: $base-font;
  color: $text;
}

button,
input {
  box-shadow: none !important;
  outline: none !important;
}

input[type='text'],
input[type='password'],
input[type='email'],
textarea {
  appearance: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  letter-spacing: -1px;
}

h3 {
  font-size: 28px;
  font-weight: 600;
}

h6 {
  font-size: 14px;
  font-weight: 400;
}

svg {
  vertical-align: initial;
  overflow: auto;
}

b,
strong {
  font-weight: 700;
}

::placeholder {
  color: $gray-2;
}

// dark theme
[data-vb-theme='dark'] {
  body {
    background: $dark-gray-5;
    color: $dark-gray-1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $dark-gray-1;
  }

  a {
    color: $dark-gray-1;

    &:hover,
    &:active,
    &:focus {
      color: $blue;
      text-decoration: none;
    }
  }

  ::placeholder {
    color: $dark-gray-3;
  }
}

#app {
  font-family: 'Poppins', sans-serif;
}

.text-weight-100 {
  font-weight: 100;
}

.text-weight-200 {
  font-weight: 200;
}

.text-weight-300 {
  font-weight: 300;
}

.text-weight-400 {
  font-weight: 400;
}

.text-weight-500 {
  font-weight: 500;
}

.text-weight-600 {
  font-weight: 600;
}

.text-weight-700 {
  font-weight: 700;
}

.text-weight-800 {
  font-weight: 800;
}

.text-weight-900 {
  font-weight: 900;
}

.gradient {
  background: linear-gradient(45deg, rgb(255, 109, 109), rgb(74, 74, 255));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

input {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 5px;
  padding: 10px;
}

textarea {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 5px;
  padding: 10px;
}