@import '@/mixins.scss';

.project-path {
  /* basic */

  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 38px;
  /* identical to box height, or 200% */

  align-items: center;
  letter-spacing: -2px;

  /* Inside Auto Layout */

  // flex: none;
  // order: 0;
  // align-self: stretch;
  // flex-grow: 0;

  .path {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.5px;
  }
}

.project-id {
  font-family: Poppins;
  font-style: normal;
  font-weight: 200;
}