@import '@/mixins.scss';

.header-container-small {
  border: 1px solid #dadada;
  padding: 5px 10px 5px 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  margin-bottom: 10px;
  height: 70px;

  .title {
    font-size: 20px;
  }
  .check {
    position: absolute;
    transform: scale(0.45);
    right: 80px;
    top: 0px;
    bottom: 0px;
    z-index: 1;
  }
  .time {
    font-size: 12px;
    color: rgb(163, 163, 163);
  }
  &:hover {
    border: 1px solid #adadad;
    background-color: rgb(243, 243, 243);

    cursor: pointer;
  }
}

.header-container-large {
  margin-top: 30px;
  max-height: 205px;
  border-radius: 15px;
  border: 1px solid #d8d8d8;
  padding: 20px 70px 20px 70px;
  .title {
    color: #545786;
    font-weight: 300;
    font-size: 28px;
    height: 28px;
  }
  p {
    color: #8c8daa;
    font-size: 18px;
  }
  b {
    font-weight: 500;
  }
  p {
    z-index: 10;
  }
  div {
    position: relative;
  }

  .parameters {
    font-size: 14px;
    text-decoration: underline;
  }
  .percent {
    padding-top: 20px;
    font-size: 48px;
    font-weight: 700;
    text-align: end;
    color: #545786;
    height: 48px;
    p {
      font-size: 16px;
      font-weight: 400;
      color: #545786;
    }
  }
  .bar {
    p {
      font-size: 14px;
      height: 5px;
    }
    .limit {
      color: rgb(179, 0, 0);
    }
    .upgrade {
      color: rgb(179, 0, 0);
      font-weight: 600;
      // text-decoration: underline;
    }
  }
  .check {
    position: absolute;
    right: 65px;
    top: 0px;
    z-index: 1;
  }
}
