@import '@/mixins.scss';
//////////////////////////////////////////////////////////////////////////////////////////
/* AUTH */

.container {
  min-width: 1000px;
  max-width: 1000px;
  min-height: 50vh;
  max-height: 50vh;
  margin-bottom: 20%;
  h1 {
    font-size: 38px;
    font-weight: 900;
  }
  h2 {
    font-size: 32px;
    font-weight: 700;
  }
  h3 {
    font-size: 20px;
    font-weight: 300;
  }
}
.space-align-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.ant-row {
  height: 60vh;
}
p {
  text-align: center;
  font-size: 12px;
}

.login_container {
  text-align: center;
  margin: 10px;
}

.details_container {
}

.strengh_container {
  margin-top: 30px;
  .strengh_item {
    margin-bottom: 25px;
  }
}
