@import '@/mixins.scss';

//////////////////////////////////////////////////////////////////////////////////////////
/* AUTH */

.container {
  max-width: 30vw;
  min-width: 30vw;
  min-height: 50vh;
  max-height: 50vh;
  margin: 10% auto;
  border-radius: 12px;
  display: flex;
}

h2 {
  font-size: 58px;
  justify-content: center;
  margin-bottom: 5%;
}

.testtest {
  font-size: 58px;
  background-color: #2876f9;
  background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
