@import '@/mixins.scss';

.table {
  background: white;
  padding: 10px;
  width: 360px;
  border-radius: 10px;
  border: 1px solid rgb(84, 78, 181);
  padding: 25px 15px 25px 15px;

  transition: all 0.5s ease;

  .name {
    font-size: 24px;
    font-weight: 600;
    ;
  }

  .description {
    color: rgb(148, 146, 170);
  }

  .price-section {
    text-align: center;
    min-height: 50px;

    .price {
      font-size: 28px;
      font-weight: 700;
      color: $main-purple;
    }
  }

  ul {
    list-style-type: none;
  }

  li {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .includes {
    min-height: 180px;
  }
}


.sub-title {
  font-size: 18px;
}

.illustration {
  min-width: 90px;
  max-width: 90px;
}

.illustration-small {
  min-width: 50px;
  max-width: 50px;
}