@import '@/mixins.scss';

.cta-secondary {
  /* CTA / Secondary */

  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 36px;

  position: static;
  height: 24px;
  left: 0px;
  top: 0px;

  border: 2px solid #4318ff;
  box-sizing: border-box;
  border-radius: 6px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 11px;
}

.cta-secondary:hover {
  /* purple-blue */

  border: 2px solid #2200b7;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.label {
  /* Label */

  position: static;
  width: 50px;
  height: 24px;
  left: 36px;
  top: 0px;

  /* basic */

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #4318ff;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.label:hover {
  color: #2200b7;
}
